In [1]:
import random
project_num_list = []
while len(project_num_list) < 1000:
    index = random.randint(0,20000)
    if index not in project_num_list: 
        project_num_list.append(index)
random.shuffle(project_num_list)
project_list_ori = project_num_list.copy()
user_id_ls =random.sample(range(1,2000), 1000)
#user_id =  [x for item in user_id_ls for x in repeat(item, 50)]
user_id_ls.sort()

In [2]:
import pandas as pd
import numpy as np
#assume the first one is used repeatly 35 times
for i in range (35):
    project_num_list.append(project_num_list[0])
#assume the second,third one is used repeatly 25 times
for i in range (25):
    project_num_list.append(project_num_list[1])
    project_num_list.append(project_num_list[2])
#assume the forth one is used repeatly 16 times
for i in range (16):
    project_num_list.append(project_num_list[3])
#assume the fifth one is used repeatly 8 times
for i in range (8):
    project_num_list.append(project_num_list[4])
#assume the sixth one is used repeatly 6 times
for i in range (6):
    project_num_list.append(project_num_list[5])
#assume the 7~14 one is used repeatly 3 times
for i in range (3):
    project_num_list.append(project_num_list[6])
    project_num_list.append(project_num_list[7])
    project_num_list.append(project_num_list[8])
    project_num_list.append(project_num_list[9])
    project_num_list.append(project_num_list[10])
    project_num_list.append(project_num_list[11])
    project_num_list.append(project_num_list[12])
    project_num_list.append(project_num_list[13])
    project_num_list.append(project_num_list[14])
#assume the 14~24 one is used repeatly 2 times
for i in range (2):
    project_num_list.append(project_num_list[15])
    project_num_list.append(project_num_list[16])
    project_num_list.append(project_num_list[17])
    project_num_list.append(project_num_list[18])
    project_num_list.append(project_num_list[19])
    project_num_list.append(project_num_list[20])
    project_num_list.append(project_num_list[21])
    project_num_list.append(project_num_list[22])
    project_num_list.append(project_num_list[23])
    project_num_list.append(project_num_list[24])
random.seed(10)

#determine how many dataset used by each user
project_number_list = ['None'] * len(user_id_ls)
# 7% of users have 1 project. 7%*1000 = 70
for i in range(70):
    project_number_list[i] = 1
# 3% of users have 2 project. 3%*1000 = 30
for i in range(70,100):
    project_number_list[i] = 2
# 1% of users have 3 project. 1%*1000 = 10
for i in range(100,110):
    project_number_list[i] = 3
# 1% of users have 4 project. 1%*1000 = 10
for i in range(110,120):
    project_number_list[i] = 4
#5~11 projects only 1 person
for i in range(120,124):
    project_number_list[i] = i-115
for i in range(len(project_number_list)):
    if project_number_list[i] == 'None':
        project_number_list[i] = 0
random.shuffle(project_number_list)
len(project_number_list)
uid_project_id_match = []
for i in range(len(user_id_ls)):
    uid_project_id_match.append(np.random.choice(project_num_list, project_number_list[i], replace=False).tolist())
node = []
for i in range(len(uid_project_id_match)):
    node_each = "["
    if len(uid_project_id_match[i]) == 0:
        node_each += "]"
    else:
        for j in range (len(uid_project_id_match[i])-1):
            node_each += "'/node/"
            node_each += str(uid_project_id_match[i][j])
            node_each += "',"
        node_each += "'/node/"
        node_each += str(uid_project_id_match[i][len(uid_project_id_match[i])-1])
        node_each += "']"
    node.append(node_each)
top_click_all_pd = pd.DataFrame(user_id_ls, columns = ['uid'])
top_click_all_pd['node'] = node
top_click_all_pd.to_csv('top_click_all.csv',index=False)

[1,
 2,
 6,
 11,
 15,
 16,
 17,
 19,
 23,
 25,
 28,
 31,
 32,
 34,
 36,
 38,
 40,
 45,
 48,
 54,
 57,
 58,
 59,
 60,
 62,
 66,
 67,
 68,
 69,
 70,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 83,
 84,
 87,
 89,
 91,
 95,
 96,
 98,
 99,
 100,
 102,
 104,
 107,
 108,
 109,
 112,
 113,
 114,
 115,
 116,
 118,
 121,
 123,
 124,
 130,
 135,
 136,
 137,
 138,
 139,
 140,
 147,
 150,
 152,
 157,
 158,
 159,
 160,
 162,
 163,
 164,
 165,
 168,
 170,
 171,
 175,
 176,
 178,
 179,
 180,
 183,
 186,
 187,
 189,
 190,
 192,
 193,
 195,
 196,
 197,
 199,
 200,
 204,
 206,
 207,
 208,
 210,
 211,
 213,
 215,
 216,
 220,
 223,
 224,
 225,
 232,
 236,
 238,
 239,
 240,
 241,
 243,
 244,
 246,
 252,
 254,
 258,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 269,
 271,
 273,
 274,
 275,
 277,
 279,
 280,
 281,
 284,
 286,
 288,
 290,
 293,
 296,
 298,
 301,
 304,
 305,
 309,
 310,
 311,
 313,
 314,
 315,
 316,
 317,
 319,
 320,
 321,
 322,
 323,
 326,
 327,
 330,
 331,
 332,
 333,
 338,
 340,
 341,
 342,
 343,
 344,
 347,
 348,
 349,
 350,
 352,
 354,
 357,
 359,
 361,
 363,
 367,
 368,
 369,
 371,
 373,
 374,
 378,
 379,
 381,
 383,
 387,
 391,
 394,
 396,
 397,
 400,
 401,
 402,
 403,
 407,
 408,
 409,
 411,
 412,
 413,
 415,
 416,
 418,
 420,
 421,
 422,
 423,
 425,
 427,
 428,
 429,
 431,
 435,
 437,
 438,
 439,
 440,
 441,
 442,
 444,
 445,
 446,
 449,
 450,
 451,
 453,
 454,
 456,
 457,
 458,
 463,
 464,
 465,
 466,
 467,
 468,
 470,
 471,
 474,
 475,
 479,
 480,
 481,
 484,
 487,
 491,
 492,
 494,
 495,
 506,
 507,
 510,
 511,
 513,
 514,
 520,
 521,
 527,
 528,
 529,
 531,
 533,
 534,
 535,
 536,
 540,
 541,
 543,
 546,
 547,
 549,
 550,
 552,
 555,
 558,
 560,
 561,
 562,
 565,
 566,
 567,
 568,
 569,
 570,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 581,
 582,
 583,
 586,
 588,
 589,
 590,
 592,
 594,
 595,
 596,
 604,
 605,
 606,
 610,
 612,
 613,
 614,
 617,
 618,
 619,
 621,
 623,
 624,
 625,
 629,
 631,
 632,
 633,
 635,
 640,
 642,
 643,
 644,
 646,
 648,
 655,
 657,
 658,
 659,
 663,
 664,
 667,
 668,
 669,
 670,
 674,
 677,
 681,
 682,
 683,
 684,
 686,
 688,
 689,
 690,
 694,
 695,
 697,
 699,
 701,
 702,
 706,
 708,
 709,
 712,
 713,
 714,
 716,
 717,
 720,
 723,
 724,
 725,
 730,
 731,
 732,
 733,
 735,
 736,
 737,
 739,
 742,
 743,
 744,
 747,
 748,
 749,
 752,
 757,
 759,
 760,
 761,
 764,
 765,
 769,
 770,
 775,
 776,
 777,
 778,
 779,
 781,
 786,
 787,
 789,
 790,
 792,
 796,
 797,
 799,
 803,
 804,
 807,
 810,
 812,
 813,
 814,
 815,
 818,
 820,
 823,
 826,
 827,
 829,
 831,
 833,
 837,
 840,
 844,
 845,
 846,
 847,
 848,
 851,
 852,
 854,
 857,
 860,
 861,
 862,
 865,
 869,
 870,
 871,
 872,
 876,
 880,
 883,
 885,
 887,
 888,
 889,
 891,
 892,
 896,
 900,
 902,
 906,
 910,
 911,
 912,
 915,
 918,
 919,
 920,
 921,
 926,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 941,
 942,
 944,
 945,
 947,
 948,
 950,
 955,
 956,
 957,
 960,
 961,
 963,
 965,
 966,
 967,
 974,
 975,
 976,
 978,
 980,
 981,
 983,
 985,
 986,
 987,
 988,
 991,
 998,
 1005,
 1008,
 1009,
 1012,
 1019,
 1030,
 1033,
 1034,
 1036,
 1038,
 1041,
 1043,
 1044,
 1045,
 1046,
 1049,
 1050,
 1051,
 1054,
 1055,
 1059,
 1066,
 1069,
 1070,
 1072,
 1073,
 1074,
 1078,
 1079,
 1083,
 1087,
 1090,
 1091,
 1093,
 1095,
 1096,
 1100,
 1101,
 1104,
 1106,
 1109,
 1111,
 1113,
 1114,
 1115,
 1117,
 1120,
 1121,
 1123,
 1125,
 1127,
 1128,
 1129,
 1130,
 1134,
 1135,
 1137,
 1138,
 1141,
 1143,
 1144,
 1145,
 1148,
 1150,
 1151,
 1153,
 1155,
 1156,
 1157,
 1159,
 1161,
 1162,
 1163,
 1164,
 1166,
 1167,
 1168,
 1171,
 1175,
 1176,
 1177,
 1179,
 1181,
 1182,
 1184,
 1185,
 1187,
 1188,
 1191,
 1193,
 1194,
 1198,
 1199,
 1200,
 1202,
 1204,
 1209,
 1210,
 1211,
 1212,
 1213,
 1218,
 1219,
 1220,
 1221,
 1222,
 1224,
 1227,
 1228,
 1230,
 1237,
 1238,
 1239,
 1240,
 1242,
 1243,
 1244,
 1247,
 1250,
 1251,
 1253,
 1256,
 1257,
 1260,
 1264,
 1265,
 1266,
 1267,
 1269,
 1270,
 1273,
 1276,
 1278,
 1279,
 1283,
 1289,
 1290,
 1291,
 1292,
 1295,
 1297,
 1299,
 1302,
 1303,
 1304,
 1305,
 1307,
 1315,
 1316,
 1318,
 1319,
 1320,
 1321,
 1324,
 1325,
 1327,
 1329,
 1330,
 1334,
 1336,
 1337,
 1338,
 1341,
 1345,
 1347,
 1349,
 1350,
 1351,
 1353,
 1354,
 1357,
 1358,
 1359,
 1365,
 1366,
 1367,
 1368,
 1369,
 1371,
 1374,
 1380,
 1381,
 1382,
 1387,
 1389,
 1390,
 1391,
 1392,
 1393,
 1397,
 1398,
 1399,
 1400,
 1404,
 1406,
 1407,
 1409,
 1410,
 1411,
 1413,
 1414,
 1420,
 1421,
 1422,
 1423,
 1424,
 1425,
 1426,
 1427,
 1428,
 1429,
 1430,
 1431,
 1432,
 1433,
 1436,
 1439,
 1441,
 1449,
 1450,
 1454,
 1457,
 1463,
 1464,
 1466,
 1467,
 1468,
 1469,
 1470,
 1477,
 1478,
 1479,
 1480,
 1482,
 1483,
 1484,
 1487,
 1491,
 1493,
 1494,
 1495,
 1496,
 1498,
 1501,
 1504,
 1505,
 1506,
 1509,
 1513,
 1515,
 1516,
 1517,
 1519,
 1520,
 1525,
 1528,
 1530,
 1531,
 1535,
 1536,
 1537,
 1538,
 1539,
 1540,
 1541,
 1543,
 1545,
 1546,
 1548,
 1549,
 1550,
 1551,
 1552,
 1554,
 1557,
 1558,
 1559,
 1561,
 1562,
 1563,
 1564,
 1565,
 1566,
 1567,
 1570,
 1572,
 1573,
 1575,
 1577,
 1579,
 1580,
 1581,
 1582,
 1584,
 1585,
 1586,
 1588,
 1590,
 1592,
 1593,
 1600,
 1601,
 1603,
 1604,
 1605,
 1609,
 1610,
 1611,
 1614,
 1617,
 1618,
 1623,
 1624,
 1627,
 1628,
 1629,
 1630,
 1632,
 1636,
 1639,
 1642,
 1645,
 1648,
 1650,
 1653,
 1656,
 1658,
 1660,
 1661,
 1663,
 1665,
 1668,
 1670,
 1674,
 1675,
 1677,
 1678,
 1681,
 1683,
 1685,
 1686,
 1688,
 1689,
 1691,
 1692,
 1693,
 1694,
 1695,
 1697,
 1698,
 1700,
 1702,
 1704,
 1708,
 1710,
 1712,
 1713,
 1714,
 1717,
 1721,
 1722,
 1724,
 1726,
 1735,
 1737,
 1738,
 1740,
 1741,
 1743,
 1744,
 1746,
 1751,
 1752,
 1753,
 1754,
 1758,
 1761,
 1762,
 1763,
 1765,
 1766,
 1767,
 1769,
 1772,
 1773,
 1775,
 1777,
 1778,
 1783,
 1784,
 1787,
 1788,
 1789,
 1790,
 1791,
 1792,
 1795,
 1796,
 1799,
 1801,
 1803,
 1804,
 1806,
 1807,
 1808,
 1809,
 1812,
 1813,
 1817,
 1818,
 1819,
 1823,
 1825,
 1826,
 1827,
 1829,
 1830,
 1831,
 1834,
 1837,
 1839,
 1840,
 1845,
 1847,
 1849,
 1852,
 1859,
 1862,
 1863,
 1865,
 1866,
 1867,
 1869,
 1870,
 1872,
 1873,
 1874,
 1878,
 1880,
 1881,
 1882,
 1886,
 1888,
 1889,
 1890,
 1892,
 1895,
 1897,
 1899,
 1902,
 1903,
 1904,
 1907,
 1910,
 1916,
 1925,
 1933,
 1934,
 1935,
 1936,
 1938,
 1941,
 1944,
 1947,
 1952,
 1959,
 1960,
 1962,
 1964,
 1965,
 1966,
 1967,
 1970,
 1971,
 1972,
 1973,
 1976,
 1977,
 1978,
 1980,
 1982,
 1984,
 1986,
 1990,
 1992,
 1994,
 1995,
 1996,
 1999]

In [3]:
top_click_all_pd

      uid            node
0       1              []
1       2              []
2       6              []
3      11              []
4      15              []
..    ...             ...
995  1992              []
996  1994              []
997  1995              []
998  1996  ['/node/1068']
999  1999              []

[1000 rows x 2 columns]

In [32]:
#project_list_ori
import random
import json
with open('project_features.json') as json_file:
    temp_project_dic = json.load(json_file)
project_features = pd.DataFrame(temp_project_dic)
pro_cate_ls = []
pro_cate_type = ['economy','environment','education','social services','finance','politics','health']
for i in range (200):
    temp = random.choice(pro_cate_type)
    pro_cate_ls.append(temp)
project = project_features[['index','title']]
project.columns = [['project_id','title']]
project['categories'] = pro_cate_ls
project.to_csv('project_fake.csv',index = False)
#project_title_ls = project_features['title'].to_list
project

    project_id                                       title       categories
0           83                , Cook County, cidents - Sid        education
1          646             delived by the Place and Emitor          economy
2         1334                  -Service-Requests-From-201         politics
3          668                - Adducted,This data to DSNY          economy
4         1102           , no service, a local official am         politics
..         ...                                         ...              ...
195         29  is every data for public, clearly operated  social services
196        268                       , CIn 2005YSF bennien           health
197       1956                    bok for COVID-19 Virus</          finance
198       1155  , which are not included in the Usage.\n\n          finance
199        291                      Since 1999806,A Census          economy

[200 rows x 3 columns]

In [33]:
project_id_list = project_features['index'].values.tolist()
project_id_list

[83,
 646,
 1334,
 668,
 1102,
 295,
 1809,
 1415,
 1542,
 471,
 1800,
 1778,
 982,
 848,
 218,
 826,
 815,
 870,
 1233,
 1195,
 475,
 1890,
 387,
 1247,
 896,
 1628,
 925,
 1032,
 1932,
 1644,
 1898,
 1200,
 139,
 124,
 109,
 585,
 258,
 1902,
 442,
 1222,
 1180,
 1710,
 857,
 1326,
 1011,
 1675,
 1560,
 1410,
 738,
 224,
 1879,
 477,
 1383,
 1252,
 473,
 658,
 428,
 488,
 13,
 758,
 381,
 497,
 1575,
 1496,
 1284,
 1196,
 1792,
 780,
 247,
 1861,
 1456,
 1196,
 1438,
 271,
 1786,
 1475,
 807,
 376,
 58,
 314,
 88,
 1352,
 347,
 1867,
 458,
 1532,
 98,
 920,
 1292,
 819,
 1821,
 762,
 1473,
 1243,
 1471,
 157,
 1430,
 1356,
 1460,
 1017,
 1094,
 1884,
 891,
 1940,
 647,
 665,
 262,
 1326,
 1919,
 66,
 1007,
 102,
 348,
 1362,
 1737,
 1956,
 448,
 1415,
 506,
 1181,
 867,
 820,
 1453,
 404,
 1154,
 430,
 1274,
 94,
 1119,
 736,
 944,
 1211,
 1496,
 271,
 1785,
 562,
 1670,
 1243,
 250,
 1882,
 1866,
 154,
 1267,
 423,
 207,
 1590,
 432,
 1634,
 396,
 278,
 1561,
 1892,
 1707,
 1522,
 1975,
 242,
 1286,
 504,
 683,
 292,
 1341,
 1247,
 1988,
 361,
 730,
 1819,
 963,
 1741,
 620,
 1674,
 1235,
 1426,
 1375,
 1590,
 1917,
 1875,
 1437,
 656,
 783,
 1184,
 1295,
 1429,
 965,
 530,
 358,
 1414,
 1146,
 855,
 745,
 457,
 709,
 902,
 964,
 643,
 1133,
 29,
 268,
 1956,
 1155,
 291]

In [34]:
publisher_id = []
for i in range(200):
    publisher_id.append(random.randrange(1, 40000))
#upload_project = project_features['index']
#upload_project = project_features[['index']].copy()
upload_project_fake = pd.DataFrame(project_id_list)
upload_project_fake['publisher_id'] = publisher_id
upload_project_fake.columns = ['project_id','publisher_id']
upload_project_fake.to_csv('upload_project.csv',index=False)
upload_project_fake

     project_id  publisher_id
0            83         14638
1           646          8472
2          1334          6209
3           668           310
4          1102         23933
..          ...           ...
195          29         16837
196         268         32259
197        1956         18796
198        1155         15785
199         291         31887

[200 rows x 2 columns]

In [37]:
project_tf = []
for i in range (200):
    project_tf.append("True")
project_list_fake = dict(zip(project_id_list, project_tf))
project_list_fake

{83: 'True',
 646: 'True',
 1334: 'True',
 668: 'True',
 1102: 'True',
 295: 'True',
 1809: 'True',
 1415: 'True',
 1542: 'True',
 471: 'True',
 1800: 'True',
 1778: 'True',
 982: 'True',
 848: 'True',
 218: 'True',
 826: 'True',
 815: 'True',
 870: 'True',
 1233: 'True',
 1195: 'True',
 475: 'True',
 1890: 'True',
 387: 'True',
 1247: 'True',
 896: 'True',
 1628: 'True',
 925: 'True',
 1032: 'True',
 1932: 'True',
 1644: 'True',
 1898: 'True',
 1200: 'True',
 139: 'True',
 124: 'True',
 109: 'True',
 585: 'True',
 258: 'True',
 1902: 'True',
 442: 'True',
 1222: 'True',
 1180: 'True',
 1710: 'True',
 857: 'True',
 1326: 'True',
 1011: 'True',
 1675: 'True',
 1560: 'True',
 1410: 'True',
 738: 'True',
 224: 'True',
 1879: 'True',
 477: 'True',
 1383: 'True',
 1252: 'True',
 473: 'True',
 658: 'True',
 428: 'True',
 488: 'True',
 13: 'True',
 758: 'True',
 381: 'True',
 497: 'True',
 1575: 'True',
 1496: 'True',
 1284: 'True',
 1196: 'True',
 1792: 'True',
 780: 'True',
 247: 'True',
 1861: 'True',
 1456: 'True',
 1438: 'True',
 271: 'True',
 1786: 'True',
 1475: 'True',
 807: 'True',
 376: 'True',
 58: 'True',
 314: 'True',
 88: 'True',
 1352: 'True',
 347: 'True',
 1867: 'True',
 458: 'True',
 1532: 'True',
 98: 'True',
 920: 'True',
 1292: 'True',
 819: 'True',
 1821: 'True',
 762: 'True',
 1473: 'True',
 1243: 'True',
 1471: 'True',
 157: 'True',
 1430: 'True',
 1356: 'True',
 1460: 'True',
 1017: 'True',
 1094: 'True',
 1884: 'True',
 891: 'True',
 1940: 'True',
 647: 'True',
 665: 'True',
 262: 'True',
 1919: 'True',
 66: 'True',
 1007: 'True',
 102: 'True',
 348: 'True',
 1362: 'True',
 1737: 'True',
 1956: 'True',
 448: 'True',
 506: 'True',
 1181: 'True',
 867: 'True',
 820: 'True',
 1453: 'True',
 404: 'True',
 1154: 'True',
 430: 'True',
 1274: 'True',
 94: 'True',
 1119: 'True',
 736: 'True',
 944: 'True',
 1211: 'True',
 1785: 'True',
 562: 'True',
 1670: 'True',
 250: 'True',
 1882: 'True',
 1866: 'True',
 154: 'True',
 1267: 'True',
 423: 'True',
 207: 'True',
 1590: 'True',
 432: 'True',
 1634: 'True',
 396: 'True',
 278: 'True',
 1561: 'True',
 1892: 'True',
 1707: 'True',
 1522: 'True',
 1975: 'True',
 242: 'True',
 1286: 'True',
 504: 'True',
 683: 'True',
 292: 'True',
 1341: 'True',
 1988: 'True',
 361: 'True',
 730: 'True',
 1819: 'True',
 963: 'True',
 1741: 'True',
 620: 'True',
 1674: 'True',
 1235: 'True',
 1426: 'True',
 1375: 'True',
 1917: 'True',
 1875: 'True',
 1437: 'True',
 656: 'True',
 783: 'True',
 1184: 'True',
 1295: 'True',
 1429: 'True',
 965: 'True',
 530: 'True',
 358: 'True',
 1414: 'True',
 1146: 'True',
 855: 'True',
 745: 'True',
 457: 'True',
 709: 'True',
 902: 'True',
 964: 'True',
 643: 'True',
 1133: 'True',
 29: 'True',
 268: 'True',
 1155: 'True',
 291: 'True'}

In [38]:
project_list_fake_js = json.dumps(project_list_fake)
f = open("project_list.json","w")
f.write(project_list_fake_js)
f.close()

In [40]:
import json
with open('title_list.json') as json_file:
    title_list = json.load(json_file)
    
with open('desc_list.json') as json_file:
    desc_list = json.load(json_file)

# rest

In [41]:
# total view
import random
view_ls = []
for i in range (2000):
    temp = random.randint(2000, 100000)
    temp = float(temp)
    view_ls.append(temp)
for j in range(700):
    view_ls.append(float('nan'))
random.shuffle(view_ls)

In [42]:
import math
math.isnan(view_ls[3])

True

In [43]:
#last_month_view
last_month_ls = []
for i in range (len(view_ls)):
    if math.isnan(view_ls[i]):
        temp = random.randint(0, 10000)
        last_month_ls.append(temp)
    else:
        temp = random.randint(0, view_ls[i])
        last_month_ls.append(temp)

In [44]:
#num_download
num_download = []
for i in range (len(view_ls)):
    if math.isnan(view_ls[i]):
        temp = float('nan')
        num_download.append(temp)
    else:
        temp = float(random.randint(0, view_ls[i]))
        num_download.append(temp)

In [16]:
#data_source
source_type = ['portal','uae','socrata']
source_ls = []
for i in range (2000):
    temp = random.choice(source_type)
    source_ls.append(temp)
#source_ls

In [17]:
#url
import string
url_ls = ['na'] * 2000
letters = string.ascii_lowercase
for i in range (len(source_ls)):
    if source_ls[i] == 'portal':
        temp = random.randint(1,20000)
        url_ls[i] = 'https://grmds.org/node/'+str(temp)
    if source_ls[i] == 'uae':
        temp = title_list[i].replace(' ', '_')
        url_ls[i] = 'https://data.abudhabi/dataset/'+str(temp)
    if source_ls[i] == 'socrata':
        temp = ''.join(random.choice(letters) for i in range(6))
        url_ls[i] = 'https://data.cityofchicago.org/d/'+temp
#url_ls

In [18]:
#categories
cate_ls = []
cate_type = [float('nan'),'economy','environment','education','social services','finance','politics','health']
for i in range (2000):
    temp = random.choice(cate_type)
    cate_ls.append(temp)
#cate_ls

In [19]:
#domain
domain_ls = []
dommain_type = [float('nan'),'data.cityofnewyork.us','data.cityofchicago.org','data.sfgov.org','data.seattle.gov']
for i in range (2000):
    temp = random.choice(dommain_type)
    domain_ls.append(temp)
#domain_ls

In [20]:
#create_time
from random import randrange
from datetime import timedelta
def random_date(start, end):
    """
    This function will return a random datetime between two datetime 
    objects.
    """
    delta = end - start
    int_delta = (delta.days * 24 * 60 * 60) + delta.seconds
    random_second = randrange(int_delta)
    return start + timedelta(seconds=random_second)

from datetime import datetime
d1 = datetime.strptime('1/1/2020 1:30 PM', '%m/%d/%Y %I:%M %p')
d2 = datetime.strptime('1/1/2022 4:50 AM', '%m/%d/%Y %I:%M %p')
create_time = []
create_time_formate = []
for i in range (2000):
    temp = random_date(d1, d2)
    create_time_formate.append(temp)
    temp = temp.strftime('%Y-%m-%d %I:%M:%S')
    create_time.append(temp)

In [21]:
update_time = []
for i in range (2000):
    temp = random_date(create_time_formate[i], d2)
    temp = temp.strftime('%Y-%m-%d %I:%M:%S')
    update_time.append(temp)

In [22]:
#uae_publisher
uae_pub_ls = []
uae_pub_type = ['Open-source portal','Federal competitiveness and statistics authority','Abu Dhabi Agriculture and Food Safety Authority','Statistics Centre Abu Dhabi','Ministry Of Economy','Ministry of Climate Change & Environment','Department of Economic Development','Federal Customs Authority']
for i in range (2000):
    if source_ls[i] == 'uae':
        temp = random.choice(uae_pub_type)
        uae_pub_ls.append(temp)
    else:
        uae_pub_ls.append('')

# Combined df

In [23]:
all_data_df = pd.DataFrame(list(zip(title_list, desc_list, view_ls,last_month_ls,num_download,url_ls,cate_ls,domain_ls,update_time,create_time,source_ls,uae_pub_ls)),
               columns =['title', 'description','total_views','last_month_views','num_download','link','categories','domain','update_time','create_time','data_source','uae_publisher'])

In [24]:
all_data_df['dataset_id'] = range(1, len(all_data_df) + 1)
all_data_df["publisher_id"] = ""
all_data_df["file_type"] = ""
all_data_df.to_csv("all_data_fake.csv")
all_data_df

,title,description,total_views,last_month_views,num_download,link,categories,domain,update_time,create_time,data_source,uae_publisher,dataset_id,publisher_id,file_type
0,and International Boat Show,"s, 6-s.\nList of Theselassues of the lessing ...",44376.0,11494,26827.0,https://data.cityofchicago.org/d/iqshjf,NaN,data.sfgov.org,2021-07-16 05:02:50,2021-02-22 09:05:27,socrata,,1,,
1,COVID-19 Cases by Age Groups,"permits, sal, and areases, or hours, and Mark ...",49561.0,47960,2343.0,https://data.abudhabi/dataset/COVID-19_Cases_b...,politics,data.cityofnewyork.us,2021-08-25 11:46:50,2020-07-19 01:55:52,uae,Department of Economic Development,2,,
2,Traffic Flow Counts,-2011-d/wrege to casheetway year. 9-8-readehic...,30318.0,25855,7678.0,https://grmds.org/node/13996,social services,data.sfgov.org,2021-09-25 06:42:17,2020-07-16 07:13:33,portal,,3,,
3,Street Construction Permits - Curricular,and Community Services/regal.\nnan\nnan\nThe C...,75770.0,49375,38460.0,https://data.abudhabi/dataset/Street_Construct...,finance,data.cityofchicago.org,2021-11-26 03:25:45,2021-09-26 09:09:17,uae,Department of Economic Development,4,,
4,New York City Population By Community District,", the 2011.\n\nEtiling of Trainary care Data i...",10004.0,4261,9869.0,https://grmds.org/node/9026,economy,data.cityofchicago.org,2021-10-30 03:55:31,2021-07-16 12:41:44,portal,,5,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,NYC Parks Events Listing – Eventlying – Event ...,", the Solasholes, or pagding the newe, ord non...",88647.0,76663,62720.0,https://data.abudhabi/dataset/NYC_Parks_Events...,education,data.sfgov.org,2021-11-16 07:01:43,2021-07-12 04:41:45,uae,Ministry of Climate Change & Environment,1996,,
1996,2020 Community District Engzipulations (2013-2...,by acaus.\nTIADepartment of Chicago's Fund of ...,40988.0,19034,6082.0,https://data.abudhabi/dataset/2020_Community_D...,politics,data.cityofchicago.org,2020-07-14 02:23:48,2020-04-27 09:00:52,uae,Ministry Of Economy,1997,,
1997,Chicago Park District - S,for Fund.org/d/losurends/page?s/city/d/d/City-...,99794.0,21008,76151.0,https://grmds.org/node/12343,finance,NaN,2021-04-30 12:05:45,2021-01-24 11:55:51,portal,,1998,,
1998,Crop Grouped by Emirate,", the Attests (""P) data is defilled by the +)<...",NaN,9902,NaN,https://data.abudhabi/dataset/Crop_Grouped_by_...,environment,data.cityofnewyork.us,2021-11-23 05:38:50,2021-05-01 05:27:35,uae,Open-source portal,1999,,
1999,Gross oil Exports of Takafulations Services fo...,data for Finance.\nSE TAction Alling Parks are...,NaN,3123,NaN,https://data.abudhabi/dataset/Gross_oil_Export...,health,NaN,2021-07-27 05:24:59,2021-05-04 01:46:04,uae,Abu Dhabi Agriculture and Food Safety Authority,2000,,

In [25]:
project_tf = []
for i in range (len(project_list_ori)):
    project_tf.append("True")
project_list = dict(zip(project_list_ori, project_tf))
project_list_json = json.dumps(project_list)
f = open("project_list.json","w")
f.write(project_list_json)
f.close()

with open('project_list.json') as json_file:
    project_list = json.load(json_file)

# recom

In [45]:
import json
with open('project_list.json') as json_file:
    project_list = json.load(json_file)
with open('title_list.json') as json_file:
    title_list = json.load(json_file)    
with open('desc_list.json') as json_file:
    desc_list = json.load(json_file)

In [46]:
import pandas as pd

class dataset_recom(object):
    def __init__(self):
        self.general_list = self.get_general_dataset_list()
        self.category_match = pd.read_csv('project_fake.csv')

    def click_projects(self, uid):
        data = top_click_all_pd[top_click_all_pd['uid']==uid]
        if len(data)==0:
            return []
        uid_click = data.set_index('uid')
        ordered_list = uid_click.loc[uid,'node']
        sequence = []
        for elem in reversed(ordered_list):
            if project_list.get(elem.split('/')[-1]) != None:
                sequence.append(elem)
    
        return sequence
    
    def get_project_list(self, uid):
        # recent click
        history = self.click_projects(uid)[:3]
        history = [int(x.split('/')[-1]) for x in history]
        # publish
        data = upload_project_fake[upload_project_fake['publisher_id']==uid]

        publish_list = list(data['project_id'])
        return list(set(history+publish_list))
    
    def get_match_dataset_list(self, uid):
        project = self.get_project_list(uid)
        df = self.category_match
        dataset_list = set()
        max_threshold = 50

        for elem in project:
            category = df[df['project_id'] == elem]['categories'].values[0]
            if type(category) is str:
                # number of views rank
                fit_data = all_data_df[all_data_df['categories'].isin([category])]
                threshold = min(max_threshold, len(fit_data))
                top_view = fit_data.iloc[:threshold]
                view_list = set()
                for id in top_view.dataset_id:
                    view_list.add(id)
                    
                # number of downloads rank

                #top_downloads = fit_data.sort_values(by='num_download', ascending = False).iloc[:threshold]
                #download_list = set()
                #for id in top_downloads.dataset_id:
                #    download_list.add(id)
                    
                # number of last month view rank

                top_recency = fit_data.sort_values(by='last_month_views', ascending = False).iloc[:threshold]
                recent_list = set()
                for id in top_recency.dataset_id:
                    recent_list.add(id)
                    
                #intersection
                #dataset_list.update(view_list.intersection(download_list, recent_list))
                dataset_list.update(view_list.intersection(recent_list))
        return list(dataset_list)
        
    
    def get_general_dataset_list(self):
        threshold = 10
        #top views
        top_list = set(all_data_df.reset_index(drop=True).loc[:threshold]['dataset_id'])
            
        #top downloads
        #for id in socrata_by_view.sort_values(by='num_download', ascending = False).iloc[:threshold]['dataset_id']:
        #    top_list.add(id)
            
        #top last month views
        for id in all_data_df.sort_values(by='last_month_views', ascending = False).iloc[:threshold]['dataset_id']:
            top_list.add(id)
        
        return list(top_list)
    
    def merge_and_select(self, uid):
        general_list = x.get_general_dataset_list()
        general_filter = []
        for id in all_data_df.dataset_id:
            general_filter.append(id in general_list)
        general_datasets = all_data_df[general_filter]
        general_datasets['general_last_month_view_percentile'] = general_datasets['last_month_views'].rank(pct=True)
        general_datasets = general_datasets.sort_values(by='general_last_month_view_percentile',ascending=False)[['dataset_id',	'general_last_month_view_percentile']]
        general_datasets = general_datasets.reset_index(drop=True)
        #number of last month view


        match_list = x.get_match_dataset_list(uid)
        match_filter = []
        for id in all_data_df.dataset_id:
            match_filter.append(id in match_list)
        match_datasets = all_data_df[match_filter]       
        match_datasets['last_month_view_percentile'] = match_datasets['last_month_views'].rank(pct=True)
        match_datasets = match_datasets.sort_values(by='last_month_view_percentile',ascending=False)[['dataset_id',	'last_month_view_percentile']]
        match_datasets = match_datasets.reset_index(drop=True)

        final_datasets = pd.merge(match_datasets, general_datasets,on='dataset_id',how='outer')

        final_datasets = final_datasets.fillna(0)
        final_datasets['rec_score'] = final_datasets['last_month_view_percentile'] * 0.5 + final_datasets['general_last_month_view_percentile'] * 0.5

        final_datasets = final_datasets.sort_values(by='rec_score',ascending=False)
        final_datasets = final_datasets.reset_index(drop = True)
        return final_datasets
    
    def refresh_all(self, number):
        table = []
        count = 0
        for user in user_id_ls:
            count += 1
            if count%2==0:
                print(user)
            recom = self.merge_and_select(user)
            for dataset in recom.dataset_id[:number]:
                table.append({'uid': user, 'dataset_id': dataset, 'rec_score':recom[recom['dataset_id']==dataset]['rec_score'].values[0]})
        df = pd.DataFrame(table)
        df_output = df.merge(all_data_df[['dataset_id', 'title','last_month_views','link']], how='left')
        #engine = create_engine('mysql+mysqlconnector://grmds_analyst:Cmethods1@54.189.68.146/grmds054_drup881',echo=False)
        #df.to_sql(name='dr_recom_socrata_dataset_to_user', con=engine, if_exists = 'replace', index=False)
        return df_output
        
    

#if __name__ == "__main__":
#    x = dataset_recom()
#    data = x.refresh_all()

In [47]:
x = dataset_recom()

In [48]:
test = x.merge_and_select(679)
test

/var/folders/8_/bt6yw0wd7136bz8lv7s2zm_80000gn/T/ipykernel_3604/2714022074.py:89: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  general_datasets['general_last_month_view_percentile'] = general_datasets['last_month_views'].rank(pct=True)

,last_month_view_percentile,dataset_id,general_last_month_view_percentile,rec_score
0,0.0,1952,1.000000,0.500000
1,0.0,439,0.952381,0.476190
2,0.0,1171,0.904762,0.452381
3,0.0,1876,0.857143,0.428571
4,0.0,918,0.809524,0.404762
5,0.0,1908,0.761905,0.380952
6,0.0,649,0.714286,0.357143
7,0.0,1613,0.666667,0.333333
8,0.0,1517,0.619048,0.309524
9,0.0,191,0.571429,0.285714
10,0.0,8,0.523810,0.261905
11,0.0,4,0.476190,0.238095
12,0.0,2,0.428571,0.214286
13,0.0,7,0.380952,0.190476
14,0.0,3,0.333333,0.166667
15,0.0,1,0.285714,0.142857
16,0.0,11,0.238095,0.119048
17,0.0,6,0.190476,0.095238
18,0.0,5,0.142857,0.071429
19,0.0,10,0.095238,0.047619
20,0.0,9,0.047619,0.023810

In [49]:
recom_table = x.refresh_all(20)
recom_table.to_csv('dataset_recommendation.csv',index=False)

/var/folders/8_/bt6yw0wd7136bz8lv7s2zm_80000gn/T/ipykernel_3604/2714022074.py:89: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  general_datasets['general_last_month_view_percentile'] = general_datasets['last_month_views'].rank(pct=True)

2
11
16
19
25
31
34
38
45
54
58
60
66
68
70
75
77
79
81
84
89
95
98
100
104
108
112
114
116
121
124
135
137
139
147
152
158
160
163
165
170
175
178

/var/folders/8_/bt6yw0wd7136bz8lv7s2zm_80000gn/T/ipykernel_3604/2714022074.py:100: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_datasets['last_month_view_percentile'] = match_datasets['last_month_views'].rank(pct=True)

180
186
189
192
195
197
200
206
208
211
215
220
224
232
238
240
243
246
254
260
262
264
266
271
274
277
280
284
288
293
298
304
309
311
314
316
319
321
323
327
331
333
340
342
344
348
350
354
359
363
368
371
374
379
383
391
396
400
402
407
409
412
415
418
421
423
427
429
435
438
440
442
445
449
451
454
457
463
465
467
470
474
479
481
487
492
495
507
511
514
521
528
531
534
536
541
546
549
552
558
561
565
567
569
572
574
576
578
581
583
588
590
594
596
605
610
613
617
619
623
625
631
633
640
643
646
655
658
663
667
669
674
681
683
686
689
694
697
701
706
709
713
716
720
724
730
732
735
737
742
744
748
752
759
761
765
770
776
778
781
787
790
796
799
804
810
813
815
820
826
829
833
840
845
847
851
854
860
862
869
871
876
883
887
889
892
900
906
911
915
919
921
929
931
933
935
937
939
942
945
948
955
957
961
965
967
975
978
981
985
987
991
1005
1009
1019
1033
1036
1041
1044
1046
1050
1054
1059
1069
1072
1074
1079
1087
1091
1095
1100
1104
1109
1113
1115
1120
1123
1127
1129
1134
1137
1141
1144
1148
1151
1155
1157
1161
1163
1166
1168
1175
1177
1181
1184
1187
1191
1194
1199
1202
1209
1211
1213
1219
1221
1224
1228
1237
1239
1242
1244
1250
1253
1257
1264
1266
1269
1273
1278
1283
1290
1292
1297
1302
1304
1307
1316
1319
1321
1325
1329
1334
1337
1341
1347
1350
1353
1357
1359
1366
1368
1371
1380
1382
1389
1391
1393
1398
1400
1406
1409
1411
1414
1421
1423
1425
1427
1429
1431
1433
1439
1449
1454
1463
1466
1468
1470
1478
1480
1483
1487
1493
1495
1498
1504
1506
1513
1516
1519
1525
1530
1535
1537
1539
1541
1545
1548
1550
1552
1557
1559
1562
1564
1566
1570
1573
1577
1580
1582
1585
1588
1592
1600
1603
1605
1610
1614
1618
1624
1628
1630
1636
1642
1648
1653
1658
1661
1665
1670
1675
1678
1683
1686
1689
1692
1694
1697
1700
1704
1710
1713
1717
1722
1726
1737
1740
1743
1746
1752
1754
1761
1763
1766
1769
1773
1777
1783
1787
1789
1791
1795
1799
1803
1806
1808
1812
1817
1819
1825
1827
1830
1834
1839
1845
1849
1859
1863
1866
1869
1872
1874
1880
1882
1888
1890
1895
1899
1903
1907
1916
1933
1935
1938
1944
1952
1960
1964
1966
1970
1972
1976
1978
1982
1986
1992
1995
1999

In [50]:
recom_table

,uid,dataset_id,rec_score,title,last_month_views,link
0,1,1952,0.500000,Coly Bane in Sector,96048,https://data.abudhabi/dataset/Coly_Bane_in_Sector
1,1,439,0.476190,TIF Balance Sheets - Kiose Industrial Park,95854,https://grmds.org/node/15086
2,1,1171,0.452381,by Census Tract,95351,https://data.abudhabi/dataset/by_Census_Tract
3,1,1876,0.428571,The number of main service centers in Abu Dhab...,94726,https://data.abudhabi/dataset/The_number_of_ma...
4,1,918,0.404762,Parking Loans - Historical,94618,https://data.cityofchicago.org/d/exvmyx
...,...,...,...,...,...,...
19995,1999,1,0.142857,and International Boat Show,11494,https://data.cityofchicago.org/d/iqshjf
19996,1999,11,0.119048,Annual City Council - Social Service (Ward Pre...,9505,https://data.cityofchicago.org/d/esenyo
19997,1999,6,0.095238,Public Chacterizations,5315,https://data.cityofchicago.org/d/jlwhtk
19998,1999,5,0.071429,New York City Population By Community District,4261,https://grmds.org/node/9026
19999,1999,10,0.047619,Beach Weather Stations - Automated Sensors - 2...,3886,https://data.cityofchicago.org/d/vrssoa

In [51]:
project_tf = []
for i in range (len(project_list_ori)):
    project_tf.append("True")
project_list = dict(zip(project_list_ori, project_tf))
project_list_json = json.dumps(project_list)
f = open("project_list.json","w")
f.write(project_list_json)
f.close()

In [ ]:
project_list

In [ ]:
upload_project